<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


<div class="Breakfastitemborder">
<div class="Flip-flex">

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="idli.jpg" alt="Avatar" style="width:100px;height:100px;">
    </div>
    <div class="flip-card-back">
      <p>Idli</p>
    </div>
  </div>
</div>


<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="vada.png" alt="Avatar" style="width:100px;height:100px">
    </div>
    <div class="flip-card-back">
      <p>Vada</p>
    </div>
  </div>
</div>

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="pongal.png" alt="Avatar" style="width:100px;height:100px">
    </div>
    <div class="flip-card-back">
      <p>Pongal</p>
    </div>
  </div>
</div>
</div>
<div class="Flip-flex">

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="disa.jpg" alt="Avatar" style="width:100px;height:100px;">
    </div>
    <div class="flip-card-back">
      <p>Dosa</p>
    </div>
  </div>
</div>


<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="chapathi.png" alt="Avatar" style="width:100px;height:100px">
    </div>
    <div class="flip-card-back">
      <p>Chapathi</p>
    </div>
  </div>
</div>

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="puri.jpg" alt="Avatar" style="width:100px;height:100px">
    </div>
    <div class="flip-card-back">
      <p>Puri</p>
    </div>
  </div>
</div>
</div>


<div class="Flip-flex">

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="lemonrice.png" alt="Avatar" style="width:100px;height:100px;">
    </div>
    <div class="flip-card-back">
      <p>Lemon Rice</p>
    </div>
  </div>
</div>


<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="upma.png" alt="Avatar" style="width:100px;height:100px">
    </div>
    <div class="flip-card-back">
      <p>Upma</p>
    </div>
  </div>
</div>
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="disa.jpg" alt="Avatar" style="width:100px;height:100px">
    </div>
    <div class="flip-card-back">
      <p>Egg Dosa</p>
    </div>
  </div>
</div>
</div>
</div>


<main class="TodoPageMain">
    <article>

 <%= form_with(url: "/menuitems",method: "POST") do %>
                     <input type='image' class="Usermain-add" src="forward.png" alt="Delete" height="30" width="30">
                   <%end%>
                   <h4 class="Fooditem">Press >> to Order Items</h4>
    <h3 class="Fooditem">Have a delicious food</h3>
    </article>
</main>

</body>
</html>
