<main class="TodoPageMain">
    <article>
    <p><%=link_to  "View Orders",orderreceived_index_path,class:"Linker" %></p>
<div class="Breakfast">
<p>All happiness depends on a leisurely breakfast </p>
<p>Breakfast is everything</p>
 <p><%=link_to  "Add Break-fast Items",additems_path,class:"Linker" %></p>
</div>

    <h3 class="Fooditem">Have a delicious food</h3>
    </article>
</main>
