<main class="TodoPageMain">
    <article>
       <h1 class="Additems-title">List of Items Purchased</h1>


         <%= render partial:"ordereditem-section",locals: {
                    section_title: "Ordered Items",
                    items: Orderitem.all
                    }%>
    <h3 class="Fooditem">Have a delicious food</h3>
    </article>

</main>
