<main class="TodoPageMain">
    <article>
         <%= link_to "Sign-Out",destroy_session_path,method: "delete"%>


       <h1 class="Additems-title">Your Ordered Items List</h1>
       <%= render partial:"order-section1",locals: {
                    section_title: "Previous Orders :",
                    items: @orderitemes.all,
                    show_billamount:false
              }%>
         <%= render partial:"order-section",locals: {
                    section_title: " Today's Orders :  ",
                    items: @orderitemes.all,
                    show_billamount:true
                    }%>

    <h3 class="Fooditem">Have a delicious food</h3>
    </article>

</main>
