.Home-Title {
  margin-bottom: 30px;
  font-size: 20px;
  font-family: "Lucida Sans", Verdana, sans-serif;
  font-weight: lighter;
  color: teal;
}
.Home-authenticate {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: lighter;
  color: tomato;
}
.UserHeader {
  padding: 10px;
  margin-top: 400px;
  background-color: darkgrey;
  font-size: 14px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.Arrangecontent {
  margin-top: 200px;
  margin-bottom: 200px;
  justify-content: center;
  width: 450px;
  padding: 10px;
  border: 5px solid gray;
  margin-left: 500px;
  background-color: lightblue;
}
.Arrangecontent2 {
  justify-content: center;
  width: 450px;
  padding: 10px;
  border: 5px solid gray;
  margin-left: 500px;
  background-color: lightgoldenrodyellow;
}
.Arrangecontent3 {
  justify-content: center;
  width: 450px;
  padding: 10px;
  border: 5px solid gray;
  margin-left: 500px;
  background-color: lightgray;
}
