.OrderMenu {
  display: flex;
  justify-content: space-evenly;
  table-layout: auto;
  justify-content: center;
}
.OrderMenus {
  display: flex;
  table-layout: auto;
  justify-content: center;
  justify-items: center;
  text-align: center;
}
.Ordereditemname {
  color: green;
  margin-right: 20px;
  font-size: 14px;
  font-family: sans-serif;
}
.Bill {
  color: cadetblue;
  display: flex;
}

.Ordereditemcost {
  color: rgb(226, 213, 24);
  margin-right: 20px;

  font-family: sans-serif;
  font-size: 14px;
}
.Ordereditemquantity {
  color: orange;
  margin-right: 20px;
  font-family: sans-serif;
  font-size: 14px;
  margin-left: 50px;
}
.Outer {
  color: red;
}

.OrderItem-container {
  display: flex;
  padding: 2px 8px;
  align-items: center;
}
.OrderItem-container:hover {
  background-color: #f1edf7;
}
.Ordered-delete > img {
  width: 16px;
}
.Ordered-delete {
  visibility: hidden;
  margin-left: 8px;
  margin-top: 25px;
}
.OrderItem-container:hover .Ordered-delete {
  visibility: visible;
}
.Billamount {
  display: flex;
}
.OrderUpdateQuantity {
  margin-left: 20px;
  color: orange;
  font-size: 4px;
}
.Processorder {
  color: white;
  background-color: green;
  border-radius: 5px;
  size: 20px;
  height: 40px;
  width: 200px;
}
.Buttonredirect {
  color: white;
  background-color: green;
  border-radius: 5px;
  size: 20px;
  height: 40px;
  width: 200px;
}
.ProceedIcon {
  margin-right: 100px;
  background-color: navy;
}
.Orderquantityflash {
  color: white;
  background-color: green;
}
.Updatedetailsoptions {
  margin-left: 20px;
  display: flex;
  justify-items: flex-start;
}
.updatequantity {
  color: teal;
  margin-left: 20px;
}
